<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Add custom customer data to be used through ko js. -->
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="status-customer-data" type="Sana\CustomerAccount\Plugin\Customer\CustomerData" sortOrder="0" />
    </type>
</config>
